* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
/* index-notes */

/* business-hours-notes */
.business-content {
  color: #00a3ff;
  height: 600px;
  text-align: center;
  text-shadow: 1px 1px whitesmoke;
  margin-top: 25px;
}
.business-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/background-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-hours {
  height: 500px;
  text-align: center;
  padding: 40px;
}

table {
  background-color: lightblue;
  padding: 50px;
  margin: 20px;
  float: left;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td,
th {
  border: 0 solid #dddddd;
  text-align: left;
  padding: 8px;
}
.colomn {
  background-color: #00a3ff;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.business-p {
  padding: 25px;
}
/* end-of-business-hours */

/* Footer style section*/
#footer {
  text-align: center;
  padding: 20px;
  margin: 0;
  background-image: linear-gradient(to top, #00a3ff, white);
  clear: left;
}
/* End of Footer*/

/* leadership-style-notes */
.leadership-content {
  color: #00a3ff;
  height: 500px;
  text-align: center;
  text-shadow: 1px 1px whitesmoke;
  margin-top: 25px;
}
#leadership-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/images/leadershipheaderbackgroundpic.jpg);
  background-size: cover;
  background-position: center;
}

.card {
  float: left;
  border: 8px solid slategrey;
  border-style: outset;
  border-radius: 5px;
  background-image: linear-gradient(#344ccc, white);
  margin: 3px 11px;
  padding: 3px;
  text-align: center;
}
.button {
  font-size: medium;
  color: white;
  text-shadow: 1px 1px #344ccc;
  padding: 2px;
  cursor: pointer;
}
.button:hover {
  background-color: black;
  color: #00a3ff;
  text-shadow: 1px 1px whitesmoke;
}
.manager,
.junior,
.ux,
.developer {
  float: left;
  width: 250;
  height: 300px;
  padding: 10px;
  margin: 5px;
  border: 5px solid slategrey;
  border-style: outset;
  border-radius: 5px;
  background-image: linear-gradient(#344ccc, white);
}
/* end of leadership-style-notes */

/* navbar-notes */
.bar {
  background-color: transparent;
  cursor: pointer;
}
li {
  display: inline;
}
li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
ul {
  text-align: center;
}

/* Changes the link color on hover */
li a:hover {
  color: #00a3ff;
  font-size: 20px;
}
/* End of navbar-notes*/

/* contact-notes */
.contact-content {
  background-image: url();
}
