* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
/* index-notes */


/* business-hoursn-notes */
.business-content {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
  url(/images/fantastic-four.jpg);
  background-size: cover;
  background-position: center;
  color: black;
  height: 600px;
  text-align: center;
  text-shadow: 1px 1px;
}
.h1 {
  background-color:rgb(163, 230, 252); 
  text-align: center;
  text-decoration-color: rgb(126, 192, 214);
  text-shadow: 1px;
  
}

/* end-of-business-hours */

/* leadership-style-notes */
.leadership-content {
  color: #00a3ff;
  height: 600px;
  text-align: center;
  text-shadow: 2px 2px whitesmoke;
}
#leadership-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/images/leadershipheaderbackgroundpic.jpg);
  background-size: cover;
  background-position: center;
}
#leadership-footer {
  text-align: center;
  padding: 20px;
  margin: 0px;
  background-image: linear-gradient(to top, #00a3ff, white);
}

.manager,
.junior,
.ux,
.developer {
  float: left;
  width: 250px;
  height: 400px;
  padding: 10px;
  margin-left: 25%;
  margin-right: 25%;
  margin: 30px;
  border: 10px solid slategrey;
  border-style: outset;
  border-radius: 5px;
  background-image: linear-gradient(#344CCC, white);  
}
.button {
  border: 1px solid black;
  color:#00a3ff;
  padding: 2px 3px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
/* end of leadership-style-notes */

/* navbar-notes */
.bar  {
  background-color: transparent;
  cursor: pointer;
  }
  div {
    text-align: center;
  }

li { 
  display: inline;
}
li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;  
}

/* Changes the link color on hover */
li a:hover {
  color: #00a3ff;
  font-size: 20px;
  
}
/* contact-notes */
.contact-content {
  background-image: url();
}
